.report {
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  display: flex;
}

.report__text {
}

@keyframes waiting {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.report__text--output {
  margin-left: 10px;
  &.blink {
    animation: waiting 1s ease infinite;
  }
  &.stare {
    animation: none;
  }
}
